<mat-card class="mat-elevation-z5">
    <mat-form-field class="example-full-width" appearance='outline'>
        <mat-label>Minutes</mat-label>
        <div class="input-format">
            <input name='min' matInput placeholder="Minutes" [(ngModel)]='min' required>
            <!-- <input name='min' #min="ngModel" matInput placeholder="Minutes" [(ngModel)]='min' required> -->
        </div>
        <!-- <mat-error *ngIf="min.errors?.required">This Field is required</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance='outline'>
        <mat-label>Seconds</mat-label>
        <div class="input-format">
            <input name='sec' matInput placeholder="Seconds" [(ngModel)]='sec' required>
        </div>
    </mat-form-field>
    <button mat-raised-button class="btn-format" (click)='btnStartClicked()'>Start</button>
</mat-card>