<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row" *ngIf='isStartClicked'>
        <div class="col-2"></div>
        <div class="col-8">
            <app-timer-form (startClicked)='isStartBtnClicked($event)'></app-timer-form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row" *ngIf='!isStartClicked'>
        <div class="col-2"></div>
        <div class="col-8">
            <app-timer-body></app-timer-body>
        </div>
        <div class="col-2"></div>
    </div>
</div>