<mat-card class="mat-elevation-z5">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 timer-format">
                <p class="text-format">{{clockTimer}}</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <button mat-raised-button color="warn" class="btn-format" (click)='pauseBtnClicked()'>Pause</button>
            </div>
            <div class="col-4">
                <button mat-raised-button color="primary" class="btn-format" (click)='startBtnClicked()'>{{startBtn}}</button>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" *ngIf='totalTime < 60'>
            <div class="col-12">
                <p class="warning-text">Hurry Up time is ticking!!</p>
            </div>
        </div>
    </div>
</mat-card>